@font-face {
  font-family: 'Particle';
  src: url("../fonts/Particle-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Simplo';
  src: url("../fonts/Simplo-Light.otf") format("opentype");
  font-weight: normal; }

@font-face {
  font-family: 'Simplo';
  src: url("../fonts/Simplo-Medium.otf") format("opentype");
  font-weight: bold; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Particle', -apple-system, sans-serif;
  background: black;
  line-height: 1.5;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2; }

h1 {
  font-size: 2em; }

a {
  color: inherit; }

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px; }

@media (min-width: 400px) {
  body {
    font-size: 16px; } }
