/* Fonts */

@font-face {
    font-family: "Particle";
    src: url("../fonts/Particle-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Simplo";
    src: url("../fonts/Simplo-Light.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Simplo";
    src: url("../fonts/Simplo-Medium.otf") format("opentype");
    font-weight: bold;
}


/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Simplo";
    font-size: calc(12px + .5vw);
}

a {
    text-decoration: none;
    color: inherit;
}